* {
    margin: 0;
    padding: 0;
    
}

.container{
     background-color: aliceblue;
    min-height: 100vh;
    border:10px solid #ee6b07;
    
}

.content {
    max-width: 900px;
    margin:0 auto;
}

.top_section {
    margin-top: 100px;
    display: flex;
    mar
    padding-right: 30px;

}
.top_section h1{
    margin-left: 100px;
    margin-block-start: 100px;
    font-size: 40px;
    padding-left: 10px;
    font-weight: bold;
    color: #ee6b07;
    outline-color: black;
    text-transform: uppercase;

}
.top_section h4{
    margin-right: 50px;
    font-size: 20px;
    text-align: end;

}


.image_container,
img {
    width: 400px;
    height: 320px;
    border: 3px solid black;
    
}

.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 50px;
    font-weight: 200px;
}

.about_section h3{
    font-size: 30px;
    margin-top: 10px;

}

.about_section p{
     margin-top: 10px;   
    font-size: 20px;
}
